.skill-bars-fat {
  * {
    line-height: 1;
  }

  li {
    height: auto;
    background: #d0d1d1;
    margin-bottom: 15px;
    padding: 0;
    position: relative;
  }
}

.progress-bar {
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  & > div {
    color: white;
    background: black;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px 0 0 3px;
    animation: progress-bar 3s;
    color:#838C95;

    & > .skill {
      display: block;
      width: 120px;
      padding: 15px 0;
      background-color: rgb(239, 239, 239, 0.15);
      text-align: center;
    }

    & > .compentancy {
      position: absolute;
      top: 3px;
      right: 0;
      line-height: 42px;
      padding: 0 10px;

    }
  }
}

@keyframes progress-bar {
  0% {
    width: 0;
  }
}
