/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
.s-footer {
  background-color: var(--color-gray-18);
  padding-top: var(--vspace-1);
  padding-bottom: var(--vspace-3);
  color: rgba(255, 255, 255, 0.2);
  position: relative;

  & .row {
    padding-top: var(--vspace-1);
    border-top: 1px solid rgba(255, 255, 255, 0.03);
  }

  & a {
    color: white;
  }

  & a:hover,
  & a:focus {
    color: var(--color-2);
  }
}

/* ------------------------------------------------------------------- 
 * ## footer social
 * ------------------------------------------------------------------- */
.s-footer__social {
  list-style: none;
  font-size: var(--text-lg);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  margin: 0 0 0 0.4rem;
  position: relative;
  top: -6%;

  & a {
    color: white;
  }

  & a:focus,
  & a:hover {
    color: var(--color-2);
  }

  & li {
    padding-left: 0;
    margin-right: 1.6rem;
  }
}

/* ------------------------------------------------------------------- 
 * ## copyright
 * ------------------------------------------------------------------- */
.ss-copyright {
  z-index: 2;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
  margin-right: auto;
  position: relative;

  & span {
    font-size: var(--text-sm);
    display: inline-block;
  }

  & span::after {
    content: "|";
    display: inline-block;
    padding: 0 0.8rem 0 1rem;
    color: rgba(255, 255, 255, 0.1);
  }

  & span:last-child::after {
    display: none;
  }
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .s-footer {
    padding-bottom: var(--vspace-2_5);
  }
  .ss-go-top {
    bottom: 4rem;
    right: 3.2rem;
  }
  .ss-go-top a {
    height: 6rem;
    width: 6rem;
  }
}

@media screen and (max-width: 1000px) {
  .s-footer {
    padding-bottom: var(--vspace-2);
  }
  .s-footer__social {
    margin-left: 0;
    margin-bottom: var(--vspace-0_5);
    top: 0;
  }
  .ss-copyright {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0;
  }
}

@media screen and (max-width: 800px) {
  .ss-go-top a {
    height: 5.2rem;
    width: 5.2rem;
  }
  .ss-go-top svg {
    height: 2rem;
    width: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .ss-copyright span {
    display: block;
  }
  .ss-copyright span::after {
    display: none;
  }
  .ss-go-top {
    right: 2.4rem;
  }
}

@media screen and (max-width: 500px) {
  .s-footer__social {
    font-size: var(--text-md);
  }
  .s-footer__social li {
    margin-right: 1.4rem;
  }
}
